<div id="author_<%= author.id %>" class="card">

	<div style="float: left;">
		<% if author.avatar? %>
			<%= image_tag author.avatar.url(:square), :class => "img-circle" %>
		<%else%>
			<%= image_tag "avatar.png", size: "100", :class => "img-circle" %>
		<%end%>
	</div>

	<div style="padding-top: 10px;">
		<b>Name:</b> <%= link_to author.name, author_path(author) %>
		<br>
		<b>Nickname:</b> <%= author.nickname %>
		<br>
		<b>Description:</b> <%= author.description %>
  	</div>

	<div style="clear: both; position: absolute; bottom: 0; right: 0; padding: 0 10px 10px 0;" >
        <% if user_signed_in? %>
			<%= link_to 'Edit', edit_author_path(author) , class: "btn btn-warning"%>
			<%= link_to 'Remove', author_path(author), 	remote: true, 
														method: :delete, 
														data: {confirm: "Are you sure?"}, class: "btn btn-danger"%>
		<% end %>
	</div>
</div>