
<p id="@author_<%= @author.id %>">
	
	<% if @author.avatar? %>
		<%= image_tag @author.avatar.url(:square), :class => "img-circle" %>
	<%else%>
		<%= image_tag "avatar.png", size: "100", :class => "img-circle" %>
	<%end%>
	
	<br>
	Name: <%= link_to @author.name, author_path(@author) %>
	<br>
	Nickname: <%= @author.nickname %>
	<br>
	Description: <%= @author.description %>
	
	<% if user_signed_in? %>
		<br>
		<%= link_to 'Edit', edit_author_path(@author) , class: "btn btn-warning"%>
		<%= link_to 'Remove', author_path(@author), remote: true, 
													method: :delete, 
													data: {confirm: "Are you sure?"}, 
													class: "btn btn-danger"%>
	<% end %>
</p>

    <h1 class="page-header">
        Posts
        <small>by the genius</small>
    </h1>
	
<%= render @author.posts %>