<%= form_for @post do |f| %>
	<%= error_messages(@post) %>

	<p>
		<%= f.label :title, :class => 'control-label' %>
		<%= f.text_field :title, :class => 'form-control' %>
	</p>
	<p>
		<%= f.label :body, :class => 'control-label' %>
		<%= f.text_area :body, :class => 'form-control' %>
	</p>
	
	<p>
		<%= f.label :author %><br>
		<%= f.collection_select :author, Author.asc(:name), :id, :name %>
	</p>
	
	<%= f.submit %>
<% end %>