
<div class="post-card">
	<div class="lead">
		<%if post.author.avatar? %>
			<%= image_tag post.author.avatar.url, size: "40", :class => "img-circle"%>
		<%else%>
			<%= image_tag "avatar.png", size: "40", :class => "img-circle" %>
		<%end%>
		
		<%= link_to "#{post.author.name} (#{post.author.nickname})", author_path(post.author)%>
		creator of
		<%= link_to post.title, post_path(post) %>
	</div>
	
	<div align="center">
		<% if post.file? %>
			<%= image_tag post.file.url(:post) %>
		<%end%>
	</div>
	
	<% if post.body? %>
		<pre class="sh_java">
			<%= post.body %>
		</pre>
	<%end%>

	<div style="padding-bottom: 40px;">
	
		<div style="clear: both; position: absolute; bottom: 0; left: 0; padding: 0 0 10px 20px;" >
		    <span class="lead" id="post_like_<%= post.id %>">
				<%= post.likes.size %> Likes 
			</span>
			
			<span id="bt_like_<%= post.id %>">
				<%if user_signed_in? %>
					<%= link_to "#{if current_user.already_liked?(post) then 'Liked' else 'Like' end}", 
						like_post_path(post), 
						class: "btn btn-primary", 
						remote: true %>
				<%else%>
					<button class="btn btn-primary" disabled="true" >
						Like
					</button>
				<%end%>
			</span>
		</div>
	
		<% if user_signed_in? %>
			<div style="clear: both; position: absolute; bottom: 0; right: 0; padding: 0 10px 10px 0;" >

				<%= link_to 'Edit', edit_post_path(post), class: "btn btn-warning", style: "align: right"%>

				<%= link_to 'Remove', 	post_path(post), 
										method: :delete, 
										remote: true, 
										data:{confirm: "Are you sure?"}, 
										class: "btn btn-danger"%>

			</div>
		<% end %>
	</div>
     
</div>
