		<div class="well">
<h2>
	<%= link_to post.title, post_path(post)%>
</h2>


<p class="lead">
    by <%= link_to post.author.nickname, author_path(post.author)%>
</p>
<p><span class="glyphicon glyphicon-time"></span> Posted on <%= post.date %></p>


	<pre class="sh_java">
	
	<%= post.body %>
	</pre>
	

<p>
	<output id="post_like_<%= post.id %>">
		Likes <%= post.likes %>
	</output>
	<%= link_to 'Like', like_post_path(post), remote: true, class: "btn btn-primary" %>
</p>

<script type="text/javascript">

sh_highlightDocument();
</script>
</div>