
<h2>
	<%= link_to post.title, post_path(post)%>
	<span class="lead">
	    by <%= link_to post.author.nickname, author_path(post.author)%>
	</span>
</h2>

	<pre class="sh_java">
	
	<%= post.body %>
	</pre>
	
<p>
	<span class="glyphicon glyphicon-time"></span> Posted on <%= post.date.strftime("%d/%m/%y at %H:%M:%S") %>
</p>

<p>
	<span class="lead" id="post_like_<%= post.id %>">
		<%= post.likes %> Likes 
	</span>
	<%= link_to 'Like', like_post_path(post), remote: true, class: "btn btn-primary" %>
</p>

<script type="text/javascript">

sh_highlightDocument();
</script>
<hr>
